%dl
  %dt
    %label{:for => "employee_first_name"}
      First Name:
  %dd
    = form.text_field :first_name, :size => '30', :maxlength => '100'
  %dt
    %label{:for => "employee_surname"}
      Surname:
  %dd
    = form.text_field :surname, :size => '30', :maxlength => '100'
