%p This is a very simple timesheet application to help us keep track of billing and leave. I'll be gradually extending it over time, but it's already good enough for you to enter your hours for a week (except for time-in-lieu). The next priority is to add things to make it easier for Amanda to do the invoicing and to add some ways to remind people that they need to enter their times.

%p In line with our usual policy, there are no restrictions once you login - you can do anything on anyone's behalf.

%p Authentication is handled by Google OAuth with another check against a list of known users
