#content
 .title
  %h1 Projects
  = render :partial => "projects_table"
  %p
   = link_to 'Create', new_project_url

Project expenses are taken from the MYOB report Accounts >> Jobs >> Activity Detail