#content
 .title
  %h1 Stories
  = render :partial => "stories_table"
  %p
  = link_to 'Create', new_project_story_url
  = (link_to 'Synchronise', synchronise_project_stories_url, :method => :put) if @project.uses_pivotal?
  = (link_to 'Activity', activity_project_stories_url, :method => :put) if @project.uses_pivotal?
