- @story.project = @project
- form_for :story, @story, :url => project_story_path(@project.id) do |f|
  = hidden_field :_method, :put
  = render :partial => "stories/form", :locals => { :form => f }
  %p= submit_tag "Update"
