- form_for :work_period, @work_period, :url => work_period_path(@work_period.id) do |f|
  = hidden_field :_method, :put
  = render :partial => "work_periods/form", :locals => { :form => f }
  %p= submit_tag "Update"
