%blockquote
  %p 
    Here's the deal:
    %ul
      %li Weekdays should add up to <b>8 hours</b>, weekend days should add up to <b>zero</b>. 
      %li If you need to add some hours to boost the total in a day use <b>"Annual Leave"</b>, and if you need to subtract some hours then use <b>"Personal Sacrifice"</b>, with a <b>negative</b> number. 
      %li The hours you put into personal sacrifice will get added back into leave allowance, so I promise that everything will nett out in the end. 
      %li And we have an answer to the perennial question of "should my week add up to 40 hours regardless of the work I do" - YES!

= render :partial => 'select_person'

- if @timesheet
  = render :partial => 'timesheet', :locals => { :timesheet => @timesheet }
